.pageContainer2 {
  background-color: #22333B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  background-color: #22333B;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockMask2 {
  width: 1200px;
  height: 1056px;
  background-color: #212A2E;
  margin-top: 30px;
  margin-bottom: 30px;
}

.headerStyle {
  color: black;
  display: inline-block;
  background-color: #C6AC8F;
  margin: 10px;
  text-align: center;

  .titleintroduce {
    padding-block: 10px;
    padding-inline: 18px;
    font-size: 18.72px;
    font-weight: 700;
  }
}

.mySwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;

    img {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 390px) {
   .pidBody,  .blockMask2 {
    width: 330px;
  }
}
