.pageContainer {
    background-color: #22333B;
    background-image: url('/homePage/soundWave.png');
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    .breadcrumb {
        margin-left: 0;
        @media (min-width: 1440px) {
            margin-left: 0;
            align-self: flex-start;
        }
    }
}

.flexContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imageContainer {
    margin-right: 50px;
    width: 600px;
    height: 300px;
}

@media (max-width: 390px) {
    .flexContainer {
        flex-direction: column;
        align-items: center;
    }
    .cardContainer {
        margin-top: 10px;
        width: 100%;
    }
    .breadcrumbStyle, .headerStyle {
        text-align: center;
        margin: auto;
    }
    .introduceStyle, .pidBody, .blockMask, .blockMask2 {
        text-align: center;
        width: 330px;
    }
    .imageBlock {
        margin-left: 5px;
    }
    .imageContainer {
        width: 330px;
        height: 300px;
    }
}
